<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.css}">

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/newuser.css}">

	<title>[[${pageTitle}]]</title>

	<!-- JS -->
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
	<script type="text/javascript" th:src="@{/js/modal.js}"></script>
	<script type="text/javascript">
    	function checkExistedEmail(form) {
    		_url = "[[@{/users/check_email}]]"
    		userId = $("#id").val();
    		userEmail = $("#email").val();
    		csrfValue = $("input[name='_csrf']").val();
    		params = { id: userId, email: userEmail, _csrf: csrfValue };

    		$.post(_url, params, function(response) {
    			if (response == "OK") {
    				form.submit();
    			} else if (response == "Exist") {
    				showWarning("Email " + userEmail + " is already existed");
    			} else {
    				showError("No response from server");
    			}
    		}).fail(function() {
    			showError("Could not connect to server");
    		});
    		return false;
    	}
    </script>
</head>

<body>

	<div th:if="${success != null}" class="alert alert-success text-center">[[${success}]]</div>
	
	<form th:action="@{/users/save}" th:object="${user}" enctype="multipart/form-data" method="POST" onsubmit="return checkExistedEmail(this);">
		<input type="hidden" th:field="*{id}"/>
		<div class="adduser-container container">
			<div class="adduser-top w-100">
				<h2>[[${pageTitle}]]</h2>
			</div>
			<div class="user-pic d-flex">
				<div class="picture">
					<img id="profilePic" th:src="@{${user.imagePath}}" alt="">
				</div>
				<div class="select-picture select-pic">
					<input type="file" name="image" id="imageFile" accept="image/*"/>
				</div>
				<input type="hidden" th:field="*{profilePic}"/>
			</div>
			<div class="inputs d-flex">
				<div class="form-group">
					<input type="text" class="form-control" tabindex="1" th:field="*{firstName}" required/>
					<label class="form-control-placeholder" for="name">First Name</label>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" tabindex="2" th:field="*{lastName}" required/>
					<label class="form-control-placeholder" for="name">Last Name</label>
				</div>
				<div class="form-group">
					<input type="email" class="form-control" tabindex="3" th:field="*{email}" required/>
					<label class="form-control-placeholder" for="password">Email</label>
				</div>
				<div class="form-group">
					<input th:if="${user.id == null}" type="password" class="form-control" tabindex="4" th:field="*{password}" required  minlength="5"/>
					<input th:if="${user.id != null}" type="password" class="form-control" tabindex="4" placeholder="Leave blank if you don't want to change password" th:field="*{password}" minlength="5"/>
					<label class="form-control-placeholder" for="password">Password</label>
				</div>
			</div>
			<div class="role-wrapper d-flex" th:with="roleOne=${roleList[0]},roleTwo=${roleList[1]},roleThree=${roleList[2]},roleFour=${roleList[3]},roleFive=${roleList[4]}">
				<p class="role">Roles:</p>
				<div class="radio-button w-100 d-flex">
					<input class="checkbox1" type="checkbox" th:field="*{roles}" th:value="${roleOne.id}" id="radio-button-1"/>
					<input class="checkbox2" type="checkbox" th:field="*{roles}" th:value="${roleTwo.id}" id="radio-button-2"/>
					<input class="checkbox3" type="checkbox" th:field="*{roles}" th:value="${roleThree.id}" id="radio-button-3"/>
					<label for="radio-button-1" class="option radio-button-1">
						<div class="square"></div> <span th:text="${roleOne.role_name}"></span>
					</label>
					<label for="radio-button-2" class="option radio-button-2">
						<div class="square"></div> <span th:text="${roleTwo.role_name}"></span>
					</label>
					<label for="radio-button-3" class="option radio-button-3">
						<div class="square"></div> <span th:text="${roleThree.role_name}"></span>
					</label>
				</div>
				<div class="radio-button2 w-100 d-flex">
					<input class="checkbox4" type="checkbox" th:field="*{roles}" th:value="${roleFour.id}" id="radio-button-4"/>
					<input class="checkbox5" type="checkbox" th:field="*{roles}" th:value="${roleFive.id}" id="radio-button-5"/>
					<label for="radio-button-4" class="option radio-button-4">
						<div class="square"></div> <span th:text="${roleFour.role_name}"></span>
					</label>
					<label for="radio-button-5" class="option radio-button-5">
						<div class="square"></div> <span th:text="${roleFive.role_name}"></span>
					</label>
				</div>
			</div>

			<div class="checkbox-container w-100 d-flex">
				<label class="checkbox-label" for="c1">Enabled</label>
				<input type="checkbox" th:field="*{enabled}"/>
			</div>

			<div class="buttons w-100 d-flex">
				<input class="button" type="submit" value="Save"/>
				<input class="button" type="button" value="Cancel" id="btnCancel"/>
			</div>
		</div>
	</form>
	
	<div class="modal fade text-center" id="modalDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">Warning</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<span id="modalBody"></span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
</body>

</html>