<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <th:block th:replace="fragments :: page_head('Order Completed!', 'none')"></th:block>
    <link th:href="@{/css/checkout.css}" rel="stylesheet">
</head>
<body>
    <div id="page">
        <header th:replace="fragments :: header"></header>

		<main class="bg_gray">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <div id="confirm">
                            <div class="icon icon--order-success svg add_bottom_15">
                                <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72">
                                    <g fill="none" stroke="#8EC343" stroke-width="2">
                                        <circle cx="36" cy="36" r="35" style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
                                        <path d="M17.417,37.778l9.93,9.909l25.444-25.393" style="stroke-dasharray:50px, 50px; stroke-dashoffset: 0px;"></path>
                                    </g>
                                </svg>
                            </div>
                        <h2>Order completed!</h2>
                        <p>You will receive a confirmation email soon!</p>
                        <span><a th:href="@{/}">Click here</a> to go back to homepage</span>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </main>
        <!--/main-->

		<footer th:replace="fragments :: footer"></footer>		

    </div>
    <div id="toTop"></div><!-- Back to top button -->
	
	<!-- COMMON SCRIPTS -->
    <script th:src="@{/js/common_scripts.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>