<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <th:block th:replace="fragments :: page_head(${pageTitle}, 'none')"></th:block>
    <link th:href="@{/css/error_track.css}" rel="stylesheet">
    <script>
        var csrfHeaderName = "[[${_csrf.headerName}]]"
        var csrfToken = "[[${_csrf.token}]]"
    </script>
</head>
<body>
    <div id="page">
        <header th:replace="fragments :: header"></header>

        <main>
            <div class="top_banner" style="position: relative;">
                <div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.3)">
                    <div class="container">
                        <div th:if="${parentCategories != null && !parentCategories.empty}">
                            <div class="breadcrumbs">
                                <ul>
                                    <li><a th:href="@{/}">Home</a></li>
                                    <th:block th:each="parent : ${parentCategories}">
                                        <li><a th:href="@{'/c/' + ${parent.tag}}">[[${parent.name}]]</a></li>
                                    </th:block>
                                </ul>
                            </div>
                        </div>
                        <h1>[[${pageTitle}]]</h1>
                    </div>
                </div>
                <img th:src="@{${imagePath}}" class="img-fluid" alt="">
            </div>
            <!-- /top_banner -->
            <div class="toast" data-delay="10000" data-animation="true" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; bottom: 0; right: 0; min-width: 500px;">
                <div class="toast-header">
                    <svg class=" rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                        <rect fill="#007aff" width="100%" height="100%" /></svg>
                    <strong class="mr-auto">Notification</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    
                </div>
            </div>
            
            <div id="stick_here"></div>		

        <div class="container margin_30">
            <div class="row small-gutters">
                <th:block th:each="product : ${products}">
                    <input type="hidden" id="productId" th:value="${product.id}">
                    <div class="col-6 col-md-4 col-xl-3">
                        <div class="grid_item">
                            <span th:if="${product.discountPercentage == 0}" class="ribbon new">New</span>
                            <span th:if="${product.discountPercentage != 0}" class="ribbon off">-[[${#numbers.formatDecimal(product.discountPercentage, 0, 'COMMA', 0, 'DEFAULT')}]]%</span>
                            <figure>
                                <a th:href="@{'/products/' + ${product.tag}}">
                                    <img class="img-fluid lazy" th:src="@{/img/products/product_placeholder_square_medium.jpg}" th:data-src="@{${product.mainImagePath}}" alt="">
                                </a>
                            </figure>
                            <a th:href="@{'/products/' + ${product.tag}}">
                                <h3>[[${product.name}]]</h3>
                            </a>
                            <div th:if="${product.discountPercentage <= 0}" class="price_box">
                                <span class="new_price">$[[${#numbers.formatDecimal(product.price, 1, 'DEFAULT', 2, 'POINT')}]]</span>
                            </div>
                            <div th:if="${product.discountPercentage > 0}" class="price_box">
                                <span class="new_price">$[[${#numbers.formatDecimal(product.discountedPrice, 1, 'DEFAULT', 2, 'POINT')}]]</span>
                                <span class="old_price">$[[${#numbers.formatDecimal(product.price, 1, 'DEFAULT', 2, 'POINT')}]]</span>
                            </div>
                            <ul>
                                <li><a class="tooltip-1" th:id="${product.id}" data-toggle="tooltip" data-placement="left" title="Add to favorites"><i class="ti-heart"></i><span>Add to favorites</span></a></li>
                                <li><a class="tooltip-1" th:id="${product.id}" data-toggle="tooltip" data-placement="left" title="Add to compare"><i class="ti-control-shuffle"></i><span>Add to compare</span></a></li>
                                <li th:if="${product.inStock}"><a class="tooltip-1 add-to-cart-btn-prod-listing" th:id="${product.id}" data-toggle="tooltip" data-placement="left" title="Add to cart"><i class="ti-shopping-cart"></i><span>Add to cart</span></a></li>
                            </ul>
                        </div>
                        <!-- /grid_item -->
                    </div>
                    <!-- /col -->
                </th:block>
            </div>
            <!-- /row -->
                
            <div class="pagination__wrapper">
                <ul class="pagination">
                    <li><a th:if="${currentPage > 1}" th:href="@{'/c/' + ${category.tag} + '/page/1'}" class="prev" title="first page">&#10094;&#10094;</a></li>
                    <li><a th:if="${currentPage > 1}" th:href="@{'/c/' + ${category.tag} + '/page/' + ${currentPage - 1}}" class="prev" title="previous page">&#10094;</a></li>
                    <li th:each="i : ${#numbers.sequence(1, totalPages)}">
                        <a th:href="@{'/c/' + ${category.tag} + '/page/' + ${i}}" th:class="${currentPage != i ? ' ' : 'active'}" >[[${i}]]</a>
                    </li>
                    <li><a th:if="${currentPage < totalPages}" th:href="@{'/c/' + ${category.tag} + '/page/' + ${currentPage + 1}}" class="next" title="next page">&#10095;</a></li>
                    <li><a th:if="${currentPage < totalPages}" th:href="@{'/c/' + ${category.tag} + '/page/' + ${totalPages}}" class="next" title="last page">&#10095;&#10095;</a></li>
                </ul>
            </div>
                
        </div>
        <!-- /container -->
        </main>
        <!-- /main -->
    

		<footer th:replace="fragments :: footer"></footer>		

    </div>
    <div id="toTop"></div><!-- Back to top button -->
	
	<!-- COMMON SCRIPTS -->
    <script th:src="@{/js/common_scripts.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
	
	<!-- SPECIFIC SCRIPTS -->
	<script th:src="@{/js/sticky_sidebar.min.js}"></script>
	<script th:src="@{/js/specific_listing.js}"></script>
	<script th:src="@{/js/cart.js}"></script>
</body>
</html>